<!DOCTYPE html>
<html>

<head>
    <title>Web application</title>
</head>

<body>

<h2>Enjoy Zero To Hero</h2>

<form id="form1" name="zerotohero" action="../zerotohero" method="post">
    <label for="firstname">First Name:</label>
    <input type="text" id="firstname" name="firstname"/>
    <label for="lastname">Last Name:</label>
    <input type="text" id="lastname" name="lastname"/>
    <button type="submit" onclick="submit">Submit</button>
</form>


<script type="application/javascript" src="../js/util.js"></script>
</body>
</html>
